<h2>{{song.title}}</h2>
<p>by {{song.artist}}</p>
<p>{{{song.description}}}</p>

{{#if song.review}}
  <h3> Review </h3>
  <p>{{song.review}}</p>
{{else}}
  <h3>No review yet</h3>
{{/if}}

<img src="{{song.photoUrl}}" />
<br />

<a href="/playlist">See Playlist</a>

{{> login}}
